{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<div class="card">
  <h5 class="card-header">File List</h5>
  <div class="card-body">
    <div class="list-group">
       {% for paper in papers %}
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ paper.title }}</h5>
              <small class="text-muted">{{ paper.jpg_timestamp }}</small>
            </div>
            <div class="d-flex flex-column">
              <div class="p-2">
                <a href="{{ paper.jpg_url }}">{{ paper.jpg_filename }}</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
